@use '../utils/variables' as var;
@use '../utils/mixins' as mix;

.books__header {
  @include mix.flex('space-between', 'center');
  margin-bottom: 4.5rem;

  &--search {
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    padding: 1rem;

    i {
      color: #D9D9D9;
    }

    input[type=text] {
      border: 0;
      color: var.$text-gray;
      min-width: 250px;

      &:focus {
        border: 0;
        outline: #FFFFFF;
        background: #FFFFFF;
      }

      &::placeholder {
        font-family: Inter, sans-serif;
        color: var.$text-gray;
      }
    }
  }
}