@use '../utils/variables' as var;

.profil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin: 7rem auto;

  &__tab {
    background-color: #FFFFFF;
    border-radius: 20px;

    &--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem;

      img {
        width: 135px;
        height: 135px;
        border-radius: 50%;
      }

      hr {
        width: 100%;
        height: 1px;
        background-color: var.$header-background;
        border: 0;
        margin: 3.5rem auto;
      }
    }

    &--infos {
      text-align: center;

      p.username {
        font-family: "Playfair Display", serif;
        font-size: 24px;
        margin-bottom: .7rem;
      }

      p.inscription {
        color: var.$text-gray;
        margin-bottom: 1.5rem;
      }

      p.books {
        font-size: 8px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: calc(8px * 0.08);
        color: var.$dark-gray;
        margin-bottom: .4rem;
      }
    }
  }
}