.justify-self-center {
  justify-self: center;
}

.justify-content-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.fs-36 {
  font-size: 36px;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-1-7 {
  padding-bottom: 1.7rem;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%!important;
}

.white {
  background-color: #FFFFFF!important;
}